# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
dist/

# OS
.DS_Store

# IDE
.vscode/

# Data
data/raw/
data/processed/

# ML artifacts
models/*.pkl
models/*.joblib